*.DS_Store
*.xmpi
*.acn
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.glsdefs
*.ist
*.lof
*.log
*.lot
*.aux
*.run.xml
*.synctex.gz
*.toc
*.glg
*.gls
*.glstex
*.acn
*.acr
*.alg
*.bbl-SAVE-ERROR
*.lol
*.xmpdata
*.out-ext
/.vscode
/thesis/files/minted-caches