*.DS_Store
*.xmpi
*.acn
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.glsdefs
*.ist
*.lof
*.log
*.lot
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.glg
*.gls
*.glstex
*.ist
*.acn
*.acr
*.alg
*.glg
*.gls
*.glstex
*.bbl-SAVE-ERROR
*.lol
*.xmpdata
/.vscode
/thesis/files/minted-caches